/* SIDEBAR */
#main-sidebar {
  height: 100vh;
  width: auto;
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  /* Soft black border */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  /* Soft shadow to give depth */
}

.body {
  margin-top: 60px;
}

/* Custom CSS for active navbar links */
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
  color: #fff !important;
  background-color: #0d6efd !important;
}

/* Optional: Custom CSS for navbar links on hover */
.nav-pills .nav-link:hover {
  transform: scale(1.04);
  transition: transform .2s ease-in-out;
}

/* CARDS */
.user-card {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: transform .2s ease-in-out;
  width: 350px;
}

.user-card:hover {
  transform: scale(1.03);
}

.user-card-body {
  border-radius: 5px;
  padding: 16px;
  background-color: rgb(253, 255, 219);
}

.user-card-title {
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.user-card-text {
  font-size: 1rem;
  color: #333;
}

.user1-card .user-card-footer {
  background-color: #6169d8;
  border: 1px solid #6169d8;
}

.user2-card .user-card-footer {
  background-color: #c95757;
  border: 1px solid #c95757;
}

.signup-card {
  margin-top: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: transform .2s ease-in-out;
  width: 550px;
}

.navbar {
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

#profile-svg {
  width: 25px;
  height: 25x;
}

/* FLASH MESSAGE */
/* Success message */
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Error message */
.alert-danger {
  color: #a94442 !important;
  background-color: #f2dede !important;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

ul.flashes {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flashes {
  position: fixed;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  width: auto;
  max-width: 90%;
  border-radius: 0;
}

.alert {
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

/* PACKANS WALL-OF-CSS */
.outer {
  justify-content: center !important;
}

.container-bootdey {
  margin-top: 20px;
  margin-left: 50px;
  max-width: auto;
}

.title-pm {
  padding-bottom: 50px;
}

.user-widget-2 .media {
  margin-bottom: 20px;
}

.user-widget-2 h5 {
  font-size: 0.9375rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.user-widget-2 p {
  font-size: 0.8125rem;
  margin-bottom: 10px;
}

.user-widget-2 p .badge {
  margin-right: 10px;
}

.user-widget-2 i {
  margin-left: 20px;
  margin-right: 20px;
}

.user-widget-2 .rounded-circle {
  border: 3px solid #fff;
  height: 50px;
  width: 50px;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-right: 20px;
}

.sample-badges .badge {
  margin-right: 10px;
}

.badge {
  border-radius: 8px;
  border: 0;
  font-size: 0.75rem;
  text-align: center;
  line-height: 0.8;
  padding: 8px 12px;
  font-weight: normal;
}

.badge.badge-sm {
  font-size: 0.625rem;
  line-height: 0.6;
}

.badge.badge-lg {
  font-size: 0.875rem;
  line-height: 1;
}

.badge.badge-rounded {
  padding: 0;
  height: 24px;
  width: 24px;
  line-height: 24px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.badge.badge-rounded.badge-sm {
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
}

.badge.badge-rounded.badge-sm.badge-outline {
  line-height: 16px;
}

.badge.badge-rounded.badge-lg {
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
}

.badge.badge-rounded.badge-lg.badge-outline {
  line-height: 28px;
}

.badge.badge-light:not(.badge-outline) {
  background-color: #ffffff;
  color: #fff;
}

.badge.badge-outline.badge-light {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.badge.badge-dark:not(.badge-outline) {
  background-color: #212121;
  color: #fff;
}

.badge.badge-outline.badge-dark {
  border: 1px solid #212121;
  background-color: transparent;
  color: #212121;
}

.badge.badge-default:not(.badge-outline) {
  background-color: #212121;
  color: #fff;
}

.badge.badge-outline.badge-default {
  border: 1px solid #212121;
  background-color: transparent;
  color: #212121;
}

.badge.badge-primary:not(.badge-outline) {
  background-color: #303f9f;
  color: #fff;
}

.badge.badge-outline.badge-primary {
  border: 1px solid #303f9f;
  background-color: transparent;
  color: #303f9f;
}

.badge.badge-secondary:not(.badge-outline) {
  background-color: #7b1fa2;
  color: #fff;
}

.badge.badge-outline.badge-secondary {
  border: 1px solid #7b1fa2;
  background-color: transparent;
  color: #7b1fa2;
}

.badge.badge-info:not(.badge-outline) {
  background-color: #0288d1;
  color: #fff;
}

.badge.badge-outline.badge-info {
  border: 1px solid #0288d1;
  background-color: transparent;
  color: #0288d1;
}

.badge.badge-success:not(.badge-outline) {
  background-color: #388e3c;
  color: #fff;
}

.badge.badge-outline.badge-success {
  border: 1px solid #388e3c;
  background-color: transparent;
  color: #388e3c;
}

.badge.badge-warning:not(.badge-outline) {
  background-color: #ffa000;
  color: #fff;
}

.badge.badge-outline.badge-warning {
  border: 1px solid #ffa000;
  background-color: transparent;
  color: #ffa000;
}

.badge.badge-danger:not(.badge-outline) {
  background-color: #d32f2f;
  color: #fff;
}

.badge.badge-outline.badge-danger {
  background-color: #f0ff25;
  color: rgb(0, 0, 0);
}

.media {
  height: 50px;
  line-height: 50px;
  align-items: center;
}

.media-body {
  display: flex;
  align-items: center;
}

.badge {
  margin-left: 20px;
}


h5 {
  text-align: center;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

/* Ikoner för profilerna */
.edit-icon {
  width: 20px;
  height: 20px;
  margin-left: auto;
}

.delete-icon {
  width: 20px;
  height: 20px;
  margin-right: auto;
}

/* Ta bort margin? Ser konstigt ut när inga profiler existerar */
.lägg-till-profil {
  margin-top: 50px;
}

#lägg-till-profil-knapp {
  margin-right: 10px;
}

#add-custom-task{
  margin-top: 10px;
}