#main-sidebar {
  height: 100vh;
  width: auto;
  z-index: 1;
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  /* Soft black border */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  /* Soft shadow to give depth */
  border-radius: 0 12px 12px 0;
  /* Rounded corners on the right side */
}

/* CARDS */
.user-card {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: transform .2s ease-in-out;
  width: 350px;
}

.user-card:hover {
  transform: scale(1.03);
}

.user-card-body {
  border-radius: 5px;
  padding: 16px;
  background-color: rgb(253, 255, 219);
}

.user-card-title {
  font-size: 1.25rem;
  margin-bottom: 12px;
}

.user-card-text {
  font-size: 1rem;
  color: #333;
}

.user1-card .user-card-footer {
  background-color: #6169d8;
  border: 1px solid #6169d8;
}

.user2-card .user-card-footer {
  background-color: #c95757;
  border: 1px solid #c95757;
}

.signup-card {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: transform .2s ease-in-out;
}