{% extends "layout.html" %}

{% block content %}
    <div class="container mt-5">
        <h2>Lägg till en ny profil</h2>
        <form method="post" action="/lagg-till-profil">
            <div class="mb-3">
                <label for="name" class="form-label">Profilnamn</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="profileRole" class="form-label">Roll</label>
                <select class="form-control" id="profileRole" name="profile_role" required>
                    <option value="Vuxen">Vuxen</option>
                    <option value="Barn">Barn</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Lägg till profil</button>
            <a href="{{ url_for('profile_manager') }}" class="btn btn-secondary">Tillbaka</a>
        </form>
    </div>
{% endblock %}
