{% extends "layout.html" %}
{% block content %}
<div class="container-fluid justify-content-center">
    <div class="my-4">
        <h5>Week x</h5>
    </div>
    <div class="row">
        <!-- Column 1 -->
        <div class="col-md-6">
            <h3>User 1</h3>
            <div class="card mb-3 user1-card">
                <div class="card-body">
                    <h5 class="card-title">Task 1</h5>
                    <p class="card-text">Dammsuga</p>
                </div>
                <div class="card-footer">
                    <div class="price-text mb-2">
                        <p class="card-text mb-0">Charlie</p>
                    </div>
                </div>
            </div>
            <div class="card mb-3 user1-card">
                <div class="card-body">
                    <h5 class="card-title">Task 2</h5>
                    <p class="card-text">Diska</p>
                </div>
                <div class="card-footer">
                    <div class="price-text mb-2">
                        <p class="card-text mb-0">Charlie</p>
                    </div>
                </div>
            </div>
            <div class="card mb-3 user1-card">
                <div class="card-body">
                    <h5 class="card-title">Task 3</h5>
                    <p class="card-text">Tvätta</p>
                </div>
                <div class="card-footer">
                    <div class="price-text mb-2">
                        <p class="card-text mb-0">Charlie</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="col-md-6">
            <h3>User 2</h3>
            <div class="card mb-3 user2-card">
                <div class="card-body">
                    <h5 class="card-title">Task 2</h5>
                    <p class="card-text">Moppa golvet</p>
                </div>
                <div class="card-footer">
                    <div class="price-text mb-2">
                        <p class="card-text mb-0">Aria</p>
                    </div>
                </div>
            </div>
            <div class="card mb-3 user2-card">
                <div class="card-body">
                    <h5 class="card-title">Task 2</h5>
                    <p class="card-text">Laga mat</p>
                </div>
                <div class="card-footer">
                    <div class="price-text mb-2">
                        <p class="card-text mb-0">Aria</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}