{% extends "layout.html" %}
{% block content %}

<body class="body">
    <div class="container-fluid justify-content-center mt-2">
        <div>
            <h4>{{ today }}</h4>
            <h5>Vecka: {{ week_number }}</h5>
        </div>
        <div class="grid-container">
            {% if profiles|length > 0 %} <!-- Kontrollerar om det finns profiler -->
            {% for profile in profiles %}
            <div class="grid-item">
                <div class="col-md-6">
                    <h3>{{ profile.profile_name }}'s tasks</h3>
                    <!-- Kontrollerar om profiler har tilldelade uppgifter -->
                    {% for assigned_task in profile.assigned_tasks %}
                    <div class="card mb-3 user-card">
                        <div class="card-body user-card-body"id = "user-card-script"> 
                                <input type="checkbox" id="myCheck" onclick="myFunction()">
                                <script>
                                function myFunction() {
                                var checkBox = document.getElementById("myCheck");
                                var text = document.getElementById("done-text");
                                var bakgrund = document.getElementById("user-card-script");
                                if (checkBox.checked == true){
                                    text.style.display = "inline";
                                    bakgrund.style.backgroundColor = "grey"
                                } else {
                                    text.style.display = "none";
                                    bakgrund.style.backgroundColor = "rgb(253, 255, 219)"
                                }
                                }
                                </script>
                                <!--
                            <label for ="checkbox" class="checkbox">
                                <input type="checkbox" id="check" name="check">
                                    <span class="checkmark"></span>
                            </label>-->
                            <h5 class="card-title user-card-title">{{ assigned_task.task.task_title }}<p id="done-text" style="display:none">Done!</p></h5>
                            <p class="card-text user-card-text">{{ assigned_task.task.task_desc }}</p>
                        </div>
                        <div class="card-footer user-card-footer">
                            <div class="price-text mb-2">
                                <p class="card-text mb-0">{{ profile.profile_name }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% else %} <!-- Om det inte finns några profiler alls -->
            <div>
                <h3>Nothing to show here yet!</h3>
                <p>
                <h5>Start by creating profiles for your household and assigning them tasks</h5>
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}