{% extends "layout_login.html" %}
{% block content %}

<body class="body">
    <section>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container-fluid h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12">
                        <div class="card signup-card" style="border-radius: 25px;">
                            <div class="card-body p-5">
                                <h2 class="text mb-5" style="font-size: 42px">Create account</h2>
                                <form>
                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example1cg">First Name</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example1cg">Last Name</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example3cg">Your Email</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="form3Example4cg"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example4cg">Password</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="form3Example4cdg"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" style="background-color: #0d6efd"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            <FONT COLOR="white">Register
                                        </button>
                                    </div>
                                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#!"
                                            class="fw-bold text-body"><u>Login here</u></a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}