{% extends "layout.html" %}
{% block content %}

<body class="body">
    <div class="d-flex mt-4">
        <form action="tasks-form">
            <div class="mb-3">
                <label for="tasks-lista" class="form-label">
                    <h3>Select Task</h3>
                </label>
                <select name="tasks-lista" id="tasks-lista" class="form-select">
                    {% for task in tasks %}
                    <option value="task{{ task.task_id }}">{{ task.task_title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="profil-lista" class="form-label">
                    <h3>Select Profile</h3>
                </label>

                <select name="profil-lista" id="profil-lista" class="form-select">
                    {% if profiles|length > 0 %}
                    {% for profile in profiles %}
                    <option value="{{ profile.id }}">{{ profile.profile_name }}</option>
                    {% endfor %}
                    {% else %}
                    <option value="no-profile">No profiles found</option>
                    {% endif %}
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Tilldela">
        </form>
    </div>
</body>
{% endblock %}
