{% extends "layout.html" %}
{% block content %}

<body class="body">
    <div class="container mt-4">
        <div class="row justify-content-center">

            <!-- ASSIGN TASKS -->
            <div class="col-md-6 mb-4">
                <form action="/assign_tasks" method="post">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-4">Tilldela Uppgifter</h3>

                            <!-- Tasks -->
                            <div class="mb-3">
                                <label for="tasks-lista" class="form-label">
                                    <h5>Välj Uppgifter</h5>
                                </label>
                                <div class="row">
                                    {% for task in tasks %}
                                    <div class="col-md-6">
                                        <div class="card mb-3">
                                            <div class="card-header d-flex justify-content-between task-title">
                                                <div class="left-content">
                                                    <label class="form-check-label">
                                                        {{ task.task_title }}
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" name="task_ids[]"
                                                        class="form-check-input form-check-lg" value="{{ task.id }}">
                                                </div>
                                            </div>
                                            <div class="task-description-hidden" style="display: none;">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        {{ task.task_desc }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="d-flex card-footer justify-content-end">
                                                <div>
                                                    <img class="edit-icon mr-2"
                                                        src="https://cdn3.iconfinder.com/data/icons/feather-5/24/edit-1024.png"
                                                        alt="edit icon" data-id="{{ task.id }}" data-action="edit">
                                                    <img class="delete-icon"
                                                        src="https://cdn3.iconfinder.com/data/icons/feather-5/24/trash-1024.png"
                                                        alt="delete icon" data-id="{{ task.id }}" data-action="delete">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- Profiles -->
                            <div class="mb-3">
                                <label for="profil-lista" class="form-label">
                                    <h5>Välj Profiler</h5>
                                </label>
                                {% if profiles|length > 0 %}
                                {% for profile in profiles %}
                                <div class="card mb-3 profile-card clickable-card">
                                    <div class="card-header d-flex align-items-center justify-content-between">

                                        <!-- Profile Details -->
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle mr-3 avatar-small"
                                                src="https://bootdey.com/img/Content/avatar/avatar{{ loop.index }}.png"
                                                alt="{{ profile.profile_name }}'s Avatar">
                                            <span class="mr-3">{{ profile.profile_name }}</span>
                                            <span class="badge badge-outline badge-sm badge-danger badge-pill">{{
                                                profile.profile_type }}</span>
                                        </div>

                                        <!-- Checkbox -->
                                        <div class="form-check ms-5">
                                            <input type="checkbox" name="profile_ids[]" class="form-check-input"
                                                value="{{ profile.id }}">
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" disabled>
                                            <label class="form-check-label">Inga profiler hittades</label>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary">Tilldela Uppgifter</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- CUSTOM TASKS -->
            <div class="col-md-6 mb-4">
                <form id="add-custom-task-form" action="{{ url_for('add_custom_task') }}" method="post">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title mb-4">Anpassad Uppgift</h3>
                            <div class="mb-3">
                                <label for="custom-task-input" class="form-label">
                                    <h5>Namn På Uppgiften</h5>
                                </label>
                                <input type="text" name="custom-task-input" id="custom-task-input" class="form-control"
                                    placeholder="Ange en anpassad uppgift">
                            </div>
                            <div class="mb-3">
                                <label for="custom-task-description" class="form-label">
                                    <h5>Beskriv Uppgiften</h5>
                                </label>
                                <textarea name="custom-task-description" id="custom-task-description"
                                    class="form-control" rows="2" placeholder="Ange en beskrivning av uppgiften"
                                    required></textarea>
                            </div>
                            <button name="add-custom-task" type="submit" class="btn btn-primary">Lägg till
                                uppgift</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- HTML för modalen -->
    <div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="editTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTaskModalLabel">Redigera Uppgift</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Stäng"></button>
                </div>
                <div class="modal-body">
                    <form id="edit-task-form">
                        <input type="hidden" id="edit-task-id" name="task_id">
                        <div class="mb-3">
                            <label for="new_name" class="form-label">Uppgiftsnamn</label>
                            <input type="text" class="form-control" id="new_name" name="new_name">
                        </div>
                        <div class="mb-3">
                            <label for="new_desc" class="form-label">Beskrivning</label>
                            <textarea class="form-control" id="new_desc" name="new_desc"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Spara ändringar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {

            var editTaskModal = new bootstrap.Modal(document.getElementById('editTaskModal'));

            // Funktion för att öppna modal och fylla i uppgiftens data för redigering
            document.querySelectorAll('.edit-icon').forEach(editIcon => {
                editIcon.addEventListener('click', function () {
                    let taskId = this.getAttribute('data-id');
                    let taskCard = this.closest('.card');
                    let taskTitle = taskCard.querySelector('.form-check-label').textContent.trim();
                    let taskDesc = taskCard.querySelector('.card-text').textContent.trim();

                    document.getElementById('edit-task-id').value = taskId;
                    document.getElementById('new_name').value = taskTitle;
                    document.getElementById('new_desc').value = taskDesc;

                    editTaskModal.show();
                });
            });

            // Hantera klick på "Spara ändringar"-knappen
            document.querySelector('#edit-task-form button[type="submit"]').addEventListener('click', function (e) {
                e.preventDefault();

                let formData = new FormData(document.getElementById('edit-task-form'));
                let taskId = document.getElementById('edit-task-id').value;

                $.ajax({
                    type: "POST",
                    url: '/edit_task/' + taskId,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response && response.indexOf("success") !== -1) {
                            location.reload();
                        } else {
                            alert("Ett fel inträffade när uppgiften skulle uppdateras.");
                        }
                    }
                });
            });

            document.querySelectorAll('.delete-icon').forEach(deleteIcon => {
                deleteIcon.addEventListener('click', function (e) {
                    e.preventDefault();

                    let taskId = this.getAttribute('data-id');

                    if (confirm("Är du säker på att du vill radera uppgiften?")) {
                        // AJAX request to delete the task
                        $.ajax({
                            type: "POST",
                            url: '/delete_task/' + taskId,
                            dataType: "json",
                            success: function (response) {
                                if (response.status === "success") {
                                    location.href = '/task_management';  // Redirect to task_management endpoint
                                } else {
                                    alert("Ett fel inträffade när uppgiften skulle tas bort.");
                                }
                            }
                        });
                    }
                });
            });

            // Lyssnare för stängknappen
            document.querySelector('.btn-close').addEventListener('click', function () {
                editTaskModal.hide();
            });

        });

        // Lyssnare för att visa/dölja uppgiftens beskrivning
        $(document).ready(function () {
            $('.task-title').on('click', function () {
                $(this).siblings('.task-description-hidden').toggle();
            });

            $('input[type="checkbox"]').on('click', function (e) {
                e.stopPropagation();
            });

            // Lyssnare för att klicka på hela kortet för att markera uppgiften
            $('.clickable-card').on('click', function (e) {
                if (!$(e.target).is('input[type="checkbox"]')) {
                    let checkbox = $(this).find('input[type="checkbox"]');
                    checkbox.prop('checked', !checkbox.prop('checked'));
                }
            });
        });
    </script>

</body>

{% endblock %}